footer {
  height: 271px;
  background-position: -215px top;
}
footer {
  background-image: url(/images/footer-bg.png);
  background-position: -215px bottom;
}
footer {
  background-image: url(/images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #e9ebed;
  height: auto;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  color: #868080;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

footer .footer-top {
  height: 241px;
  padding: 55px 0 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

footer .footer-bottom {
  height: 30px;
  padding-bottom: 65px;
}

footer .footer-top .footer-contact {
  width: 60%;
  padding-left: 385px;
}

footer .footer-top .footer-menu {
  width: 31%;
  padding: 0;
}

footer .footer-top > div {
  float: left;
}

footer .footer-top .footer-newsletter {
  width: 23%;
  padding: 0;
}

footer .footer-bottom p {
  color: #8093a1;
  text-shadow: none;
}

footer .footer-bottom p {
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-shadow: 1px 1px 30px #000;
  margin: 0;
}

.hero {
  height: 360px;
}

.jumbotron {
  padding: 8rem 2rem;
}

.hero-area {
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-area:before {
  content: "";
  background: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-area .block {
  text-align: center;
  z-index: 99;
}

.hero-area .block .video-button {
  background: #fff;
  color: #57cbcc;
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.hero-area .block .video-button i {
  line-height: 60px;
  font-size: 20px;
  margin-left: 3px;
}

.hero-area .block h1 {
  font-size: 90px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .hero-area .block h1 {
    font-size: 60px;
  }
}

.hero-area .block p {
  color: #fff;
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
}

.hero-area .block .btn-transparent {
  margin-top: 40px;
  border-color: #fff;
  padding: 14px 50px;
  font-size: 18px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.hero-area-video {
  height: 100vh;
  position: inherit !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-area-video .block {
  color: #fff;
  text-align: center;
}

.hero-area-video .block h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-area-video .block p {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.hero-area-video .block .btn-main {
  margin-top: 20px;
}

.hero-image {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

html,
body {
  height: 100%;
}
